GLOBAL STYLES*/
html{
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/*.game-page, .end-page{
  display: none;
}*/

body{
  color: #ddd;
}

ul{
  padding: 0;
  margin: 0;
}

#content{
  min-height: 100vh;
  background-color: #4D0066;
  border: 3em solid #000;
  background: -webkit-radial-gradient(#4D0066, black);
  background: radial-gradient(#4D0066, black);
  transition: border .25s;
}

.wrapper{
  width: 900px;
  margin: 0 auto 10em auto;
  text-align: center;
}

button{
  background-color: #cccc00;
  border: none;
  border-bottom: 2px solid #808000;
  border-right: 2px solid #808000;
  font-weight: 700;
  -webkit-transition: background-color .5s;
          transition: background-color .5s;
}
button:hover{
  background-color: #808000;
}
button:focus{
  outline: none;
}

/************Opening Section****************/
.starting-page{
  padding: 7em 0;
}

.starting-page h1{
  font-size: 3em;
}

.starting-page h3{
  font-size: 1.5em;
}
.starting-page p{
  width: 200px;
  margin: 0 auto;
}

.quiz-num-btns{
  margin-top: 2em;
}

.num-btn{
  width: 40px;
  height: 40px;
  margin: 0 .5em;
}


/***************Game Section***************/
.question-holder p{
  margin-top: 50px;
  font-size: 1.25em;
}

.curr-question, .answer{
  padding: 1.75em .5em;
  background-color: rgba(0,0,0, .75);
  color: #fff;
  outline: 1px solid #cccc00;
  -webkit-transition: all .5s;
          transition: all .5s;
}

.curr-question{
  margin: 1.5em 0;
}

.all-answers:after{ /*Clear the li floated items*/
  content: "";
  display: table;
  clear: both;
}

.answer{
  display: inline-block;
  width: 45%;
  margin: 1em 1.25%;
  cursor: pointer;
}

.answer:hover{
  background-color: rgba(0,0,0, .30);
}

.answer:active, .selected{
  background-color: #cccc00;
  opacity: .75;
  color: #000;
}

.results-holder{
  margin-top: 50px;
}

.wrong-right{
  font-size: 2em;
}

.description{
  width: 50%;
  margin: 25px auto 50px auto;
}

.next{
  padding: .75em 1em;
  width: 275px;
}


/************Closing Section**************/

.end-page{
  margin-top: 12em;
}

.end-page p{
  font-size: 1.25em;
}

.new-game{
  margin-top: 25px;
  padding: .75em 1em;
  width: 300px;
}

/************MEDIA QUERIES********/
@media screen and (max-width: 1050px){
  #content{
    border: 1em solid #000;
  }

  .wrapper{
    width: 95%;
  }
}

@media screen and (max-width: 800px){
  .answer{
    width: 85%;
    padding: 1.25em .5em;
  }

  .description{
    width: 75%;
  }
}

@media screen and (max-width: 400px){
  .num-btn{
    width: 75%;
    margin: .5em auto;
  }

  .next, .new-game{
    width: 75%;
  }

  .end-page p{
    font-size: 1.15em;
  }
}


